<div careers>
    <div headr>
        <h1 h>
            Monarch Software Team
        </h1>
        <img alt="logo" src='/static/logos.png' id="logos" />
        <style local>
            #logos {
                width: 18rem;
                height: auto;
                float: right;
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                transition: all 1s ease;
                background: linear-gradient(to top right, white, transparent 10%);
            }
            #logos:hover {
                -webkit-filter: grayscale(10%); 
                filter: grayscale(10%);
                transition: all 1s ease;
            }
            [h] {
                float: left;
                text-transform: uppercase;
                font-weight: bolder;
            }
            [article] {
                position: relative;
            }
            [yes] {
                    font-size: 1.1rem;
                } 
        </style>
    </div><br><br><br>
    <div normal article>
        <main yes>
            The Monarch Soft. Dev. Team focuses on creating responsive, reactive, fast, and modern website designs.
            <br>
            With new technologies emerging everday, Monarch focuses on using the latest tech stacks for their 
            products.
        </main>
    </div>
</div>