<div careers data-aos="fade-up" data-aos-duration="1000" data-aos-delay="10">
    <div headr>
        <h1 h>
            Careers at Monarch Airlines
        </h1>
        <img alt="logo" src='/static/logos.png' id="logos" />
        <style local>
            #logos {
                width: 18rem;
                height: auto;
                float: right;
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                transition: all 1s ease;
                background: linear-gradient(to top right, white, transparent 10%);
            }
            #logos:hover {
                -webkit-filter: grayscale(10%); 
                filter: grayscale(10%);
                transition: all 1s ease;
            }
            [h] {
                float: left;
                text-transform: uppercase;
                font-weight: bolder;
            }
            [article] {
                position: relative;
            }
            [yes] {
                    font-size: 1.1rem;
                } 
        </style>
    </div><br><br><br>
    <div normal article>
        <main yes>
            Monarch offers an unmatched airline expirience for both the customers and staff team.<br> At Monarch,
            we want the overal expirience of travel to be frictionless; from booking to arriving at your destination.
            <br>Our staff team is comprised of highly qualified individuals who love working with customers on a daily
            basis.

            <br><br><br>
            <h3>Open Positions <b>(8)</b></h3><br>
            <ul bffg>
                <li>Senior Full Stack Developer <span parfg>(5+ yrs) &nbsp; [1]</span></li>
                <li>Project Manager <span parfg>(3+ yrs)  &nbsp; [2]</span></li>
                <li>Risk Analyst <span parfg>(3+ yrs)  &nbsp; [1]</span></li>
                <li>A321-NEO FO <span parfg>(varies)  &nbsp; [3]</span></li>
                <li>Social Media Manager <span parfg>(3+ yrs)  &nbsp; [1]</span></li>
            </ul>
            <br><br>
            <h5>To Apply For An Open Position: Please Contact <a href="mailto:apply@monarchair.com" email>apply@monarchair.com</a></h5>
        </main>
        <style>
            [bffg] {
                width: 450px;
            }
        [parfg] {
            text-align: right;
            float: right;
        }
        [email] {
            font-weight: 400;
            color: #537df1;
        }
        </style>
    </div>
</div>
