<div universal cart data-aos="fade-up" data-aos-duration="1000" data-aos-delay="10">
    <script>
        +(function() {
            const urlParams = new URLSearchParams(window.location.search);
            let i = 0;
            var parms = ['rt', 'dep', 'arr', 'pass', 'promo', 'dur'];
            for(i=0; i < 6; i++) {
                let a = urlParams.get(parms[i]);
                $('#forwards'+(i+1)).text(a);
            }
        })();
        
    </script>
    <div class="menu ccart" noscroll>
            <div class="title">
                <sr>
                    Planned Flight
                </sr>
            </div>
            <div class="table">
                <div class="citem">
                    &nbsp;FLIGHT
                    <pricer>
                             &nbsp; <i class="fas fa-chevron-down"></i>
                    </pricer>
                </div>
                <div class="cexpand">
                    Departure Airport: <forwards capat id="forwards2">loading...</forwards><br>
                    Arrival Airport: <forwards capat id="forwards3">loading...</forwards><br>
                    Passengers: <forwards id="forwards4">loading...</forwards><br> 
                    Trip Duration: <forwards id="forwards6">loading...</forwards><br>
                    OAB: <forwards capat id="forwards1">loading...</forwards><br>
                </div>
                
                <div class="citem">
                        &nbsp;PRICING
                        <pricer id="">
                            <span id="tttot"></span>     &nbsp; <i class="fas fa-chevron-down"></i>
                        </pricer>
                    </div>
                    <div class="cexpand">
                        Subtotal: <forwards id="forwards"><span id="subt"></span></forwards><br>
                        Discount: <forwards capat id="forwards5">loading...</forwards><br>
                        Tax: <forwards id="forwards">$19.11</forwards><br>
                        Total: <forwards id="forwards"><span id="ttot"></span></forwards><br>
                    </div>
            </div>
            <form action="https://www.paypal.com/cgi-bin/webscr" id="PPB" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick" />
                <input type="hidden" name="hosted_button_id" value="VSU2MZ4HKUTX4" />
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                </form>
                
        </div>
</div>
<script>
        +(function() {
            const urlParams = new URLSearchParams(window.location.search);
            let i = 0;
            var parms = ['rt', 'dep', 'arr', 'pass', 'promo', 'dur'];
            for(i=0; i < 6; i++) {
                let a = urlParams.get(parms[i]);
                $('#forwards'+(i+1)).text(a);
            }
        })();
    </script>