<div foot>
    <a data-v-b0b5d864="" target="_blank" href="https://www.instagram.com/" class="fab fa-instagram icon fa-2x" aria-hidden="true"></a>
    <a data-v-b0b5d864="" target="_blank" href="https://www.snapchat.com/" class="fab fa-snapchat icon fa-2x" aria-hidden="true"></a>
    <a data-v-b0b5d864="" target="_blank" href="https://www.facebook.com/" class="fab fa-facebook icon fa-2x" aria-hidden="true"></a>
    <a data-v-b0b5d864="" target="_blank" href="https://www.linkedin.com/" class="fab fa-linkedin icon fa-2x" aria-hidden="true"></a>
    <a data-v-b0b5d864="" target="_blank" href="https://www.twitter.com/" class="fab fa-twitter icon fa-2x" aria-hidden="true"></a>
</div>