<div foot>
    <a data-v-b0b5d864="" target="_blank" href="https://www.instagram.com/?ref=monarch" class="fab fa-instagram instagram icon fa-2x" aria-hidden="true"></a>
    <a data-v-b0b5d864="" target="_blank" href="https://www.snapchat.com/?ref=monarch" class="fab fa-snapchat snapchat icon fa-2x" aria-hidden="true"></a>
    <a data-v-b0b5d864="" target="_blank" href="https://www.facebook.com/?ref=monarch" class="fab fa-facebook fb icon fa-2x" aria-hidden="true"></a>
    <a data-v-b0b5d864="" target="_blank" href="https://www.linkedin.com/?ref=monarch" class="fab fa-linkedin linked icon fa-2x" aria-hidden="true"></a>
    <a data-v-b0b5d864="" target="_blank" href="https://www.twitter.com/?ref=monarch" class="fab fa-twitter twitter icon fa-2x" aria-hidden="true"></a>
    <span joblist id="gone">
        <a id="aa" href="/terms">TERMS</a>&nbsp;&nbsp;
        <a id="aa" href="/privacy">PRIVACY</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &copy; 2019 Monarch Airlines
    </span>
</div>