<div noscroll home>
    <div ata-aos="fade-down" class="goforlogo" data-aos-duration="1000" id="logo">
        <img data-aos="fade-down" data-aos-duration="1000" data-aos-delay="10" src="/static/neqy.png" alt="newyork" width="1000" height="530" id="fp"/>
    </div>

    <script type="text/javascript">
		<!--//--><![CDATA[//><!--
			var images = new Array()
			function preload() {
				for (i = 0; i < preload.arguments.length; i++) {
					images[i] = new Image()
					images[i].src = preload.arguments[i]
				}
			}
			preload(
				"/static/neqy.png",
				"/static/pjet.png",
				"/static/ipjt.png"
			)
		//--><!]]>
	</script>
    
    <div class="food hscroll"> 
        <div class="menu hscroll
        " >
            <div dinertable>
                <h1 flager>Book A Flight</h1>
                <h1 botter>East Coast</h1>
            </div>  
            <div booker>
                <form autocomplete="off" method="POST" action="/api/book">
                    <div abover> 
                        <input type="radio" name="roundtrip" value="roundtrip" checked/>
                        <span class="nc">ROUND TRIP</span>&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="roundtrip" value="oneway" />
                        <span class="nc">ONE WAY</span>
                    </div>
                    <!-- html5 datalist feature -->
                    <div opt optf id="airhookone">
                        <h3 opti>DEPARTURE</h3>
                        <select name="dep" autofill="no" id="depart"selr>
                            <option value="KTPA">KTPA</option>
                            <option value="KRIC">KRIC</option>
                            <option value="KRDU">KRDU</option>
                            <option value="KPIT">KPIT</option>
                            <option value="KPHL">KPHL</option>
                            <option value="KEWR">KEWR</option>
                            <option value="KLGA">KLGA</option>
                            <option value="KJFK">KJFK</option>
                            <option value="KMIA">KMIA</option>
                            <option value="KJAX">KJAX</option>
                            <option value="KCAE">KCAE</option>
                            <option value="KCLT">KCLT</option>
                            <option value="KBOS">KBOS</option>
                            <option value="KBWI">KBWI</option>
                            <option value="KATL">KATL</option>
                            <option value="KDCA">KDCA</option>
                            <option value="KIAD">KIAD</option>
                        </select>
                    </div>
                    <div opt fr id="airhooktwo">
                        <h3 opti>ARRIVE</h3>
                        <select name="arr" autofill="no" id="arrive"selr>
                                <option value="KTPA">KTPA</option>
                                <option value="KRIC">KRIC</option>
                                <option value="KRDU">KRDU</option>
                                <option value="KPIT">KPIT</option>
                                <option value="KPHL">KPHL</option>
                                <option value="KEWR">KEWR</option>
                                <option value="KLGA">KLGA</option>
                                <option value="KJFK">KJFK</option>
                                <option value="KMIA">KMIA</option>
                                <option value="KJAX">KJAX</option>
                                <option value="KCAE">KCAE</option>
                                <option value="KCLT">KCLT</option>
                                <option value="KBOS">KBOS</option>
                                <option value="KBWI">KBWI</option>
                                <option value="KATL">KATL</option>
                                <option value="KDCA">KDCA</option>
                                <option value="KIAD">KIAD</option>
                            </select>
                    </div>
                    <div opt fr dtrf>
                        <h3 opti>DATE SELECTOR</h3>
                        <input type="text" name="date" id="datepicker" selr>
                    </div>
                    <div opt fr>
                        <h3 opti>PASSENGERS</h3>
                        <input type="number" name="pass" maxlength="1"  min="0"  max="9" selr>

                        </input>
                    </div>
                    <div opt fr dtr>
                        <h3 opti>PROMO CODE</h3>
                        <input type="text" name="promo" maxlength="8" selr>

                        </input>
                    </div>
                    <div opt fl>
                            <h3 opti>BOOK FLIGHT</h3>
                            <button type="submit" subm>BOOK</button>
                        </div>
                </form>
            </div>
            <br>
            <div elp>
                <i class="fas fa-plane fabb"></i>
                <a href="/locations" ghelp>LOCATIONS</a>
                <i class="fas fa-file-contract fabb"></i>
                <a href="/terms" ghelp>TERMS</a>
                <i class="fas fa-lock fabb"></i>
                <a href="/privacy" ghelp>PRIVACY</a>
            </div>
            <br>
            <div noscroll adverts class="adverts hscroll" onclick="window.location.href='/rewards'">
                <div noscroll ad-left class="hscroll">
                    <h2 adhead>
                        Frequent Flyer?
                    </h2><br>
                    <p adhed>
                        Purchase A Membership To Earn Points Every Flight And 
                        Pay For Future Trips!
                    </p>
                </div>
                <div noscroll ad-right class="hscroll">
                    <h2 adhead>
                        Early Check In
                    </h2> <br>
                    <p adcont>
                        Check in 36 hours before your flight to get a better boarding 
                        position,
                        ranging from $10-$20 per passenger.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="foodmobile">
        <a mbut href="/book" id="first">&nbsp; &nbsp;BOOK FLIGHT&nbsp; &nbsp;</a>
        <a mbut href="/locations" id="">&nbsp; &nbsp;LOCATIONS&nbsp; &nbsp;</a><br><br>
        <a mbut href="/rewards" id="first">&nbsp; &nbsp;REWARDS&nbsp; &nbsp;</a>
        <a mbut href="/careers" id="">&nbsp; &nbsp;CAREERS&nbsp; &nbsp;</a>
    </div>
    <!--
    <div class="owner">
        <span id="sm">SEE MORE</span><br>
        <i class="fas downer fa-2x fa-chevron-down"></i>
    </div>
    -->
    <br><br><br>
    <script app>
        $( function() {
            $( "#datepicker" ).datepicker({
                multidate: true
            });
            console['warn']("${#datepicker}");
        } );
        $('.adverts').click(window.location.pathname="/rewards");
    </script>
</div>
<br><br><br><br>
