<div home>
    <div id="logo">
        <img data-aos="fade-down" data-aos-duration="1000" src="/static/neqy.png" alt="newyork" width="1000" height="530" id="fp"/>
        
    </div>
    
    <div class="food">
        <div class="menu" >

        </div>
    </div>
    
    <div class="foodmobile">
        <a mbut href="/book" id="first">&nbsp; &nbsp;BOOK FLIGHT&nbsp; &nbsp;</a>
        <a mbut href="/locations" id="">&nbsp; &nbsp;LOCATIONS&nbsp; &nbsp;</a><br><br>
        <a mbut href="/rewards" id="first">&nbsp; &nbsp;REWARDS&nbsp; &nbsp;</a>
        <a mbut href="/careers" id="">&nbsp; &nbsp;CAREERS&nbsp; &nbsp;</a>
    </div>
    <!--
    <div class="owner">
        <span id="sm">SEE MORE</span><br>
        <i class="fas downer fa-2x fa-chevron-down"></i>
    </div>
    -->
</div>