<div home>
    <div id="logo">
        <img data-aos="fade-down" data-aos-duration="1000" data-aos-delay="10" src="/static/neqy.png" alt="newyork" width="1000" height="530" id="fp"/>
        
    </div>
    
    <div class="food">
        <div class="menu" >
            <div dinertable>
                <h1 flager>Book A Flight</h1>
                <h1 botter>East Coast</h1>
            </div>  
            <div booker>
                <form method="POST" action="/api/book">
                    <div abover>
                        <input type="radio" name="roundtrip" value="roundtrip" checked/>
                        <span class="nc">ROUND TRIP</span>&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="roundtrip" value="oneway" />
                        <span class="nc">ONE WAY</span>
                    </div>
                    <div opt optf>
                        <h3 opti>DEPARTURE</h3>
                        <input type="text" name="dep" id="depart" maxlength="10" selr>
                        </input>
                    </div>
                    <div opt fr>
                        <h3 opti>ARRIVE</h3>
                        <input type="text" name="arr" id="arrive" maxlength="10" selr>

                        </input>
                    </div>
                    <div opt fr dtrf>
                        <h3 opti>DATE SELECTOR</h3>
                        <input type="text" name="date" id="datepicker" selr>
                    </div>
                    <div opt fr>
                        <h3 opti>PASSENGERS</h3>
                        <input type="number" name="pass" maxlength="1" max="9" selr>

                        </input>
                    </div>
                    <div opt fr dtr>
                        <h3 opti>PROMO CODE</h3>
                        <input type="text" name="promo" maxlength="8" selr>

                        </input>
                    </div>
                    <div opt fl>
                            <h3 opti>BOOK FLIGHT</h3>
                            <button type="submit" subm>BOOK</button>
                        </div>
                </form>
            </div>
            <hr>
            <div elp>
                <i class="fas fa-plane fabb"></i>
                <a href="/locations" ghelp>LOCATIONS</a>
                <i class="fas fa-file-contract fabb"></i>
                <a href="/terms" ghelp>TERMS</a>
                <i class="fas fa-lock fabb"></i>
                <a href="/privacy" ghelp>PRIVACY</a>
            </div>
            <hr>
            <div adverts class="adverts">
                <div ad-left>
                    <h2 adhead>
                        Frequent Flyer?
                    </h2><br>
                    <p adhed>
                        Purchase A Membership To Earn Points Every Flight And 
                        Pay For Future Trips!
                    </p>
                </div>
                <div ad-right>
                    <h2 adhead>
                        Early Check In
                    </h2> <br>
                    <p adcont>
                        Check in 36 hours before your flight to get a better boarding 
                        position,
                        ranging from $10-$20 per passenger.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="foodmobile">
        <a mbut href="/book" id="first">&nbsp; &nbsp;BOOK FLIGHT&nbsp; &nbsp;</a>
        <a mbut href="/locations" id="">&nbsp; &nbsp;LOCATIONS&nbsp; &nbsp;</a><br><br>
        <a mbut href="/rewards" id="first">&nbsp; &nbsp;REWARDS&nbsp; &nbsp;</a>
        <a mbut href="/careers" id="">&nbsp; &nbsp;CAREERS&nbsp; &nbsp;</a>
    </div>
    <!--
    <div class="owner">
        <span id="sm">SEE MORE</span><br>
        <i class="fas downer fa-2x fa-chevron-down"></i>
    </div>
    -->
    <br><br><br>
    <script app>
        $( function() {
            $( "#datepicker" ).datepicker({
                multidate: true
            });
            console['warn']("${#datepicker}");
        } );
    </script>
</div>
<br><br><br><br>
