<div universal class="hscroll" locations data-aos="fade-up" data-aos-duration="1000" data-aos-delay="10">
        <div class="menu">
            <div class="title">
                <sr>
                    Available Locations
                </sr>
            </div>
            <div class="table">
                <div class="ct">
                    <h3 bold class="chead">
                        Monarch Airlines is Exclusive to the Easter Seaboard
                    </h3>
                    <br>
                    <table id="t01">
                            <tr> <b>
                              <th>State</th>
                              <th>City</th> 
                              <th>IATA</th>
                              </b>

                            </tr>
                            <tr>
                              <td>Florida</td>
                              <td>Tampa Bay</td>
                              <td>TPA</td>
                            </tr>
                            <tr>
                              <td>Virginia</td>
                              <td>Richmond</td>
                              <td>RIC</td>
                            </tr>
                            <tr>
                              <td>North Carolina</td>
                              <td>Raleigh</td>
                              <td>RDU</td>
                            </tr>
                            <tr>
                                <td>Pennsylvania</td>
                                <td>Pittsburgh</td>
                                <td>PIT</td>
                            </tr>
                            <tr>
                                <td>New Jersey</td>
                                <td>Newark</td>
                                <td>EWR</td>
                            </tr>
                            <tr>
                                <td>New York</td>
                                <td>New York</td>
                                <td>LGA</td>
                            </tr>
                            <tr>
                                <td>New York</td>
                                <td>New York</td>
                                <td>JFK</td>
                            </tr>
                            <tr>
                                <td>Florida</td>
                                <td>Miami</td>
                                <td>MIA</td>
                            </tr>
                            <tr>
                                <td>Florida</td>
                                <td>Jacksonville</td>
                                <td>JAX</td>
                            </tr>
                            <tr>
                                <td>South Carolina</td>
                                <td>Columbia</td>
                                <td>CAE</td>
                            </tr>
                            <tr>
                                <td>North Carolina</td>
                                <td>Charlotte</td>
                                <td>CLT</td>
                            </tr>
                            <tr>
                                <td>Massachusetts</td>
                                <td>Boston</td>
                                <td>BOS</td>
                            </tr>
                            <tr>
                                <td>Maryland</td>
                                <td>Baltimore</td>
                                <td>BWI</td>
                            </tr>
                            <tr>
                                <td>Georgia</td>
                                <td>Atlanta</td>
                                <td>ATL</td>
                            </tr>
                            <tr>
                                <td>Virgina</td>
                                <td>Washington</td>
                                <td>DCA</td>
                            </tr>
                            <tr>
                                <td>Virginia</td>
                                <td>Washington</td>
                                <td>IAD</td>
                            </tr>
                          </table>
                </div>
            </div>
        </div>
    </div>