<div universal class="hscroll" rewards data-aos="fade-up" data-aos-duration="1000" data-aos-delay="10">
    <div class="menu">
        <div class="title">
            <sr>
                Rewards Program
            </sr>
        </div>
        <div class="table">
            <div class="ct">
                <h3 bold class="chead">
                    Fly Monarch, Earn Points, Get Free Flights
                </h3>
                <p>With Monarch Airlines, we reward frequent flyers with points that they can redeem for free flights.</p>
            </div><br>
            <h3><b>✈️ &nbsp; Fly 5 Hours</b></h3>
            <h3><b>💵 &nbsp; Earn 500 Points</b></h3>
            <h3><b>🛫 &nbsp; 1800 Points = Free Flight</b></h3>
            <br><br>
            <div class="ct">
                <h3 bold class="chead">
                    Why Should You Join?
                </h3>
                <h4>
                    The Moncarch Airlines Rewards Program is specifically designed <br>
                    for those who frequently travel along the eastern coast of the <br>
                    United States. Wether its constant flying for business reasons, <br>
                    taking lots of vacations, or simply to explore new places, the <br>
                    rewards program will help you to save money from flight to flight.
                </h4><br>
                <h3 bold class="chead">
                    How Much Will You Save?
                </h3>
                <h4>
                    For every 5 hours that you spend in the air, you'll get 500 reward<br>
                    points in your account. Flight after flight, you'll start to earn more<br>
                    and more points in your account. Once you get atleast 1200 points, <br>
                    you can spend them on a free flight anywhere on the coast. <br>
                    Plus if you join now, we'll throw in 250 points, on us.
                </h4><br>
                <h3>
                    <a href="/cart?extra=rewards" aaa>Join Today!</a>
                    
                </h3>
            </div>
        </div>
        <style>
                [aaa] {
                    color: #5a5ae9 !important;
                    font-weight: bolder;
                }
            </style>
    </div>
</div>