<div universal rewards data-aos="fade-up" data-aos-duration="1000" data-aos-delay="10">
    <div class="menu">
        <div class="title">
            <sr>
                Rewards Program
            </sr>
        </div>
        <div class="table">
            <div class="ct">
                <h3 bold class="chead">
                    Fly Monarch, Earn Points, Get Free Flights
                </h3>
                <p>With Monarch Airlines, we reward frequent flyers with points that they can redeem for free flights.</p>
            </div><br>
            <h3><b>✈️ &nbsp; Fly 5 Hours</b></h3>
            <h3><b>💵 &nbsp; Earn 500 Points</b></h3>
            <h3><b>🛫 &nbsp; 1800 Points = Free Flight</b></h3>
            <br>
            <div class="ct">
                <h4>
                    Make A Downpayment of $150 To Instantly Join Today!<br>
                    Plus, We'll Throw In 1000 Points, On Us
                </h4><br>
                <h3>
                    <a aaa>Join Today!</a>
                    
                </h3>
            </div>
        </div>
        <style>
                [aaa] {
                    color: #5a5ae9 !important;
                    font-weight: bolder;
                }
            </style>
    </div>
</div>