$primary: #4f9fef;
$secondary: #87f796;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600|Roboto:300,400&display=swap');

// globals
[fixed] {
	position: fixed;
}
[abs] {
	position: absolute;
}
[bold] {
	font-weight: bold;
}
[italic] {
	font-style: italic;
}
[wrapper] {
	height: 100%;
	width: 100%;
	top: 0;
	position: absolute;
}

a:link:active {
	color: black !important;
}
#aa {
	color: rgb(211, 209, 209) !important;
}
#aa:hover {
	text-decoration: none !important;
	font-weight: bold;
}

html,
head,
body {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
	background: #eff1f1 !important;
	color: #1f1e1e;
	overflow-x: hidden;
	overflow-y: hidden;
	.logodeclare {
		font-weight: 300;
		padding-left: 12px;
		letter-spacing: 1px;
	}
	.navbar {
		box-shadow: 0 6px 6px -6px #999;
		width: 100%;
	}
	.brand {
		margin-right: 30px;
	}
	font-family: 'Open Sans', sans-serif !important;

	#foot {
		width: 100%;
	}

	[foot] {
		/* css rhymes with "makes me depressed" */
		position: absolute;
		bottom: 0 !important;
		width: 100%;
		top: 91.5%;
		height: 70px;
		background: rgb(65, 64, 64);
		box-shadow: 0 6px 6px 8px #999;
		.icon {
			color: rgb(230, 230, 230);
			width: 30px !important;
			height: 30px !important;
			padding-top: 18px;
			padding-left: 18px;
			margin-right: 12px;
		}
		[joblist] {
			color: rgb(211, 209, 209);
			padding-top: 24px;
			padding-right: 18px;
			margin-left: 12px;
			right: 0;
			float: right;
		}
		#gone {
			visibility: visible;
			@media screen and (max-width: 900px) {
				visibility: hidden;
			}
		}
	}
	#tc {
		width: 100%;
		height: 81vh;
		padding-top: 10px;
		padding-left: 20px;
		padding-right: 20px;
		position: relative;
		overflow: scroll;
	}
	#nav {
		width: 100%;
		height: auto;
	}
	.twitter:hover {
		color: rgb(74, 160, 235);
		text-decoration: none !important;
	}
	.linked:hover {
		color: rgb(54, 127, 187);
		text-decoration: none !important;
	}
	.fb:hover {
		color: rgb(73, 103, 173);
		text-decoration: none !important;
	}
	.snapchat:hover {
		color: #fffc00;
		text-decoration: none !important;
	}
	.instagram:hover {
		color: #e1306c;
		text-decoration: none !important;
	}
	#logo {
		width: 100%;
		height: 80%;
		text-align: center;
		left: 0;
		#llogo {
			float: left;
			margin-right: 30px;
		}
		#lh {
			font-size: 3.8rem;
			font-weight: 300;
			padding-top: 15px;
			margin-left: 15px;
		}
		#fp {
			@media screen and (min-width: 1030px) {
				border-radius: 8px;
				background: linear-gradient(to bottom, white, transparent 60%);
			}
			@media screen and (max-width: 1029px) {
				visibility: hidden;
			}
		}
		.scream {
			position: absolute;
			text-align: left;
			color: white;
			top: 4rem;
			font-size: 2.8rem;
			left: 15rem;
			text-shadow: 0px 0px 8px #a09e9e;
		}
	}
}
/* responsive?? (laughing emoji) more like barely usable! */
