$primary: #4f9fef;
$secondary: #87f796;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600|Roboto:300,400&display=swap');

// globals
[fixed] {
	position: fixed;
}
[abs] {
	position: absolute;
}
[bold] {
	font-weight: bold;
}
[italic] {
	font-style: italic;
}

html,
head,
body {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
	background: #eff1f1 !important;
	color: #1f1e1e;
	.logodeclare {
		font-weight: 300;
		padding-left: 12px;
		letter-spacing: 1px;
	}
	.navbar {
		box-shadow: 0 6px 6px -6px #999;
		width: 100%;
	}
	.brand {
		margin-right: 30px;
	}
	font-family: 'Open Sans', sans-serif !important;

	[foot] {
		/* css rhymes with "makes me depressed" */
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 70px;
		background: rgb(65, 64, 64);
		box-shadow: 0 6px 6px 8px #999;
		.icon {
			color: rgb(230, 230, 230);
			width: 30px !important;
			height: 30px !important;
			padding-top: 18px;
			padding-left: 18px;
			margin-right: 12px;
		}
	}
}
/* responsive?? (laughing emoji) more like barely usable! */
